.App {
  text-align: center;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  color: white;
}

.App header {
  padding: 30px;
  font-family: "Fascinate", cursive;
  font-size: 40px;
}
.App .created-by {
  padding: 30px;
}
.App .portfolio-link {
  text-decoration: none;
  transition: 200ms all ease-in-out;
  color: white;
  font-weight: bold;
}

.App .portfolio-link:hover {
  color: green;
}
