.doublesecondmusicnote {
  width: 200px;
  position: relative;
  bottom: 500px;
  left: 460px;
}

@media (max-width: 820px) {
  .doublesecondmusicnote {
    width: 180px;
    position: relative;
    bottom: 440px;
    left: 200px;
  }
}
@media (max-width: 700px) {
  .doublesecondmusicnote {
    width: 120px;
    position: relative;
    bottom: 300px;
    left: 120px;
  }
}
