.Main {
  margin-bottom: 100px;
}

.Main form {
  padding: 40px;
}
.Main .input {
  max-width: 300px;
  display: inline-flex;
  line-height: 40px;
  font-size: 20px;
}

.Main button {
  line-height: 40px;
  font-size: 20px;
  margin: 0 0 7px 5px;
}
